.containerhome
{
  background-color: rgb(29, 132, 113);
  height: 680px;
  width: 100%;
  display: flex;
}
.col-8
{
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-4
{
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row{
  width: 100%;
}
.homeimg
{
    height: 467px;
    width: 620px;
}
.loginbox
{
  height: 350px;
  width: 353px;
  background-color: rgb(99, 127, 127);
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#loginbutton
{
margin-left: 0px;
margin-top: 20px;
}
.homepageh2
{
  margin-top: 18px;
}
span
{
  color: orange;
}
.containerhomeleft
{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerhomeright
{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registrationBox
{
  margin-top: 30px;
  height: 140px;
  width: 285px;
  margin-left: 36px;
}
.loginbutton
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.singnuplink
{
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headingh2homepage
{
  margin-left: 62px;
  margin-top: 34px;
}