p
{
    color: white;
    font-size:20px;
}
.userwelcomerightside
{
    justify-content: center;
    align-items: center  ;
}
.welcomemsg
{
    display: flex;
    justify-content: center;
    align-items: center  ;
}
.userwelcomeheadingh2
{
    margin-left: 20px;
}
tr
{
   font-size: 17px;
}