.containeruserwelcome {
    background-color: rgb(29, 132, 113);
    height: 680px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.employee-table {
  border: 3px solid black;
  border-collapse: collapse;
  width: 100%;
}
.employee-table th,
.employee-table td {
  border: 2px solid black;
  padding: 8px;
  text-align: left;
}
