.admindashcontainer
{
  background-color: rgb(29, 132, 113);
  height: 680px;
  width: 100%;
}
.mainhead
{
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1dash
{
    color: white;
}
.leftdashboard
{
    width: 230px;
    height: 617px;
    background-color: rgb(53 104 95 / 19%);
}
.dashboard1
{
    width: 100%;
    height: 60px;
    background-color: rgb(53 75 71 / 26%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.dash1
{
    font-size: 25px;
    margin: 0;
}
.dashboard2
{
    width: 100%;
    height: 60px;
    background-color:rgb(53 75 71 / 26%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.dash2
{
    font-size: 18px;
    margin: 0;
}
.dashboard3
{
    width: 100%;
    height: 60px;
    background-color: rgb(53 75 71 / 26%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border-radius: 20px;
    cursor: pointer;
}
.dash3
{
    font-size: 18px;
    margin: 0;
}
.dashboard4
{
    width: 100%;
    height: 60px;
    background-color: rgb(53 75 71 / 26%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 363px;
    border-radius: 20px;
    cursor: pointer;
}
.dash4
{
    font-size: 18px;
    margin: 0;
}
.rightdashboard
{
    width: 100%;
    height: 617px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboardcontent
{
    display: flex;
}
.imgdash
{
    height: 500px;
    width: 681px;
    border-radius: 15px;
}